---
import { get } from "react-hook-form";
import Button from "../components/ui/Button";
import { buttonVariants } from "../components/ui/Button";
import Layout from "../layouts/Layout.astro";

// import { getCollection, getEntries } from "astro:content";

// const days = await getCollection("festivalDays");

// const relatedEvents = await getEntries(days[0].data.relatedEvents);

// console.log(relatedEvents);
---

<Layout title="Design">
  <h1>
    <h1 class="font-tan-pearl text-5xl">Tan Pearl</h1>
    <h1 class="font-inter text-5xl">Inter</h1>
  </h1>
</Layout>
