---
import Button, { buttonVariants } from "../components/ui/Button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Donate" description="">
  <section class="py-12 lg:py-32">
    <div class="mx-auto w-11/12 max-w-screen-xl">
      <div class="flex flex-col gap-6">
        <h1 class="font-tan-pearl text-5xl uppercase lg:text-7xl">Donations</h1>

        <div class="flex flex-col gap-6">
          <p class="w-full leading-loose">Dear friends,</p>

          <p class="w-full leading-loose">
            I hope this message finds you in good health and high spirits. I am
            reaching out to you with great enthusiasm, as I believe that with
            your support and donation, you can help us realize an exceptional
            cultural project that will benefit both the local and wider regional
            community in the fields of culture, education, and cultural heritage
            in Slovenia. It is the "Borštnikovanje" Festival, which I have
            designed and will take place from June 21st to June 23rd, 2023, in
            Cerklje na Gorenjskem.
          </p>
          <p class="w-full leading-loose">
            The largest Slovenian theater festival, the "Borštnik Meeting," has
            been taking place in Maribor since 1970, often referred to as the
            Slovenian version of the Tony awards in USA or Olivier Awards in GB
            . With our project, we aim to continue his legacy and bring it back
            to the birthplace of first professional slovenian actor, the founder
            of Slovenian modern theatre Ignacij Borštnik, in Cerklje na
            Gorenjskem, small beautiful mountain region in Slovenia. I believe
            that this festival will become the biggest cultural event in Cerklje
            and its surrounding area in the last 30 years.
          </p>

          <p class="w-full leading-loose">
            Tourism and event organization are my passions, which led me to
            create this project and become the managing director of the
            festival. Together with members of our association, who are active
            in various fields and are enthusiasts in the filed of culture and
            performing arts, we are working hard to realize this project and to
            fullfill it to our high expectations. This is an independent
            festival therefore any donation will be highly appreciated to help
            us achieve our goal and execute this exceptional project.
          </p>

          <p class="w-full leading-loose">
            The main goal of the Borštnikovanje Festival is to support the heirs
            and descendants of Ignacij Borštnik, who have been striving for
            years to preserve his birth house, which is around 200 years old,
            and to ensure the preservation of his name and accomplishments. At
            the same time, we aim to revive Ignacij Borštnik's birthplace and
            emphasize the importance of the first professional Slovenian actor
            and director. With the "Borštnikovanje" Festival, we also aim to
            familiarize the broader public with the cultural heritage of Cerklje
            na Gorenjskem and bring top-notch performing arts performances to
            Ignacij's hometown.
          </p>

          <p class="w-full leading-loose">
            Our festival program is diverse and includes performances from the
            competitive program of the Borštnik Meeting, accompanying events at
            the Borštnik Homestead and other locations in Cerklje, roundtable
            discussions with selected Borštnik Award recipients, VIP receptions
            with networking opportunities, theater, creative and art workshops,
            guided tours of the cultural heritage of Cerklje na Gorenjskem,
            culinary experiences, as well as presentations of Ignacij Borštnik's
            birth house and conversations with experts from the Slovenian
            Heritage Conservation Institute.
          </p>

          <p class="w-full leading-loose">
            We have a team of capable, energetic, and enthusiastic individuals,
            but we still need financial support and additional hands to execute
            this major cultural event in Cerklje. We believe in our contribution
            to the local and wider community and in our ability to become part
            of something greater together. Therefore, I invite you to join us
            and support us in this endeavor. Your support means a lot to us, as
            it will help preserve Slovenian cultural heritage and enable the
            local population and the broader Gorenjska region to enjoy
            top-quality cultural experiences. Together, we can achieve so much
            more!
          </p>

          <p class="w-full leading-loose">
            We look forward to your support, collaboration, and our shared
            creation of a story that will be significant for both Cerklje na
            Gorenjskem and Slovenia as a whole.
          </p>

          <p class="w-full italic leading-loose">
            Mojca Pačnik, managing director, for friends Mj, Moy, Mo.
          </p>
        </div>

        <a
          class={buttonVariants({
            intent: "outline-black",
            size: "base",
            fullWidth: true,
          })}
          href="https://donate.stripe.com/aEUeXQgAg2bYcHC001"
        >
          Donate
        </a>
      </div>
    </div>
  </section>
</Layout>
