---
import Button, { buttonVariants } from "../components/ui/Button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Donate">
  <section class="py-12 lg:py-32">
    <div class="mx-auto w-11/12 max-w-screen-xl">
      <div class="flex flex-col gap-6">
        <h1 class="font-tan-pearl text-5xl uppercase lg:text-7xl">Donations</h1>

        <div class="flex flex-col gap-6 lg:flex-row lg:gap-12">
          <p class="w-full leading-loose">
            Support our work and contribute to the development of arts and
            culture with your donation. Your contribution enables us to organise
            diverse events, create artistic projects and encourage talent. With
            your help, we can maintain a vibrant and diverse cultural scene and
            create unforgettable experiences for our audiences.
          </p>
          <p class="w-full leading-loose">
            Every contribution counts and every donation is precious. Together
            we are building a better future for the arts. Thank you for your
            support!
          </p>
        </div>

        <a
          class={buttonVariants({
            intent: "outline-black",
            size: "base",
            fullWidth: true,
          })}
          href="https://donate.stripe.com/eVaeXQ97O3g2cHC5kk"
        >
          Donirate
        </a>
      </div>
    </div>
  </section>
</Layout>
