---
import Button, { buttonVariants } from "../components/ui/Button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Donate" description="">
  <section class="py-12 lg:py-32">
    <div class="mx-auto flex w-11/12 max-w-screen-xl flex-col gap-6">
      <div class="flex flex-col gap-6">
        <h1 class="font-tan-pearl text-5xl uppercase lg:text-7xl">Donations</h1>

        <div class="flex flex-col gap-6">
          <p class="w-full leading-loose">Dear friends,</p>

          <p class="w-full leading-loose">
            I would like to thank you for your generous support and donations
            that you gave to our first project, »Borštnikovanje« Festival in the
            mountain town of Cerklje na Gorenjskem in central Slovenia.
          </p>
          <p class="w-full leading-loose">
            Your contributions helped us in accomplishing an exceptional
            cultural project which had a far reaching impact on the local as
            well as wider regional community in the fields of culture,
            education, and slovenian cultural heritage The program was diverse
            and very successful. You can see more in Gallery at
            <a href="/">www.borstnikovanje.si</a> and on FB <a
              href="https://www.facebook.com/borstnikovanje.si/"
              >https://www.facebook.com/borstnikovanje.si/</a
            >
          </p>
        </div>

        <p class="w-full leading-loose">
          For those who are becoming the new supporters I would like to share
          some information about the project.
        </p>

        <p class="w-full leading-loose">
          Tourism and events organization are my passions and they led me to the
          idea to create this festival. We were working together with members of
          our association, who are active in various fields and are culture and
          performing arts enthusiasts, to realize this project and to fulfill it
          to our highest expectations.
        </p>

        <p class="w-full leading-loose">
          The project was based solely on private funding and was created with a
          team of volunteers as an independent event which we named
          &quot;Borštnikovanje&quot; Festival.
        </p>

        <p class="w-full leading-loose">
          It took place from June 21st to June 23rd, 2023, in Cerklje na
          Gorenjskem, just 25km north of capital Ljubljana and just 5 minutes
          from the main airport.
        </p>

        <p class="w-full leading-loose">
          The motivation and reason why we created it is because of the largest
          national Slovenian theater festival, »Borštnik Meeting«, which is
          dedicated to the first Slovenian actor Ignacij Borštnik and which has
          been taking place since 1970 in the northeastern part of Slovenia in
          the city of Maribor. »Borštnik Meeting« is often referred as the
          Slovenian version of the Tony awards (USA) or Olivier Awards (GB). The
          aforementioned festival is fully funded by the Slovenian Government
          and Municipality funds, and it is the biggest festival in Slovenia.
        </p>

        <p class="w-full italic leading-loose">
          With our local project »Borštnikovanje« Festival we were aiming to
          bring back the cultural program and various activities to the birth
          place of the actor Ignacij Borštnik and thus continue his legacy with
          different projects taking place at his birth house situated in the
          town of Cerklje. Ignacij Borštnik was the founder of the Slovenian
          modern theatre. He was born in Cerklje na Gorenjskem, a small and
          beautiful town in the mountainous region of Slovenia. »Borštnikovanje«
          Festival was the biggest cultural event in Cerklje in the last 15
          years and its legacy will become indispensable in the future.
        </p>

        <p class="w-full leading-loose">
          We would like to continue with the diverse cultural program and
          different workshops throughout the whole year involving the local
          community and all the generations. To keep the activities and his
          birthplace alive till the next »Borštnikovanje« Festival we will need
          your financial support. The idea behind is that all cultural
          activities would be free of charge and accessible to everyone.
        </p>

        <p class="w-full leading-loose">
          We believe in our contribution to the local and wider community and
          together we can be a part of something greater. Therefore, we invite
          you to join us and support us in this endeavor. Your support is
          invaluable, as it will help preserve Slovenian cultural heritage.
          Together, we can achieve so much more!
        </p>

        <p class="w-full leading-loose">
          We look forward to your support and collaboration.
        </p>

        <p class="w-full leading-loose">
          Let&#39;s build a great story together!
        </p>

        <p class="w-full italic leading-loose">
          Mojca Pačnik, founder and project manager of the
          »Borštnikovanje«Festival.
        </p>

        <p class="w-full italic leading-loose">for friends Mj, Moy, Mo.</p>
      </div>

      <a
        class={buttonVariants({
          intent: "outline-black",
          size: "base",
          fullWidth: true,
        })}
        href="https://donate.stripe.com/aEUeXQgAg2bYcHC001"
      >
        Donate
      </a>
    </div>
  </section>
</Layout>
