---
import Button, { buttonVariants } from "../components/ui/Button";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Doniraj"
  description="Podprite nas in skupaj ustvarimo največji kulturni dogodek v Cerkljah v zadnjih 10 letih! Vaša podpora je neprecenljiva in prav vsak prispevek bo pripomogel k uspešni izvedbi festivala."
>
  <main class="flex flex-col gap-14 pt-16 lg:pt-32">
    <section class="mx-auto w-11/12 max-w-screen-xl">
      <div class="flex flex-col gap-6">
        <h1 class="font-tan-pearl text-5xl uppercase lg:text-7xl">Donirajte</h1>

        <div class="flex flex-col gap-6 lg:flex-row lg:gap-12">
          <div class="flex w-full flex-col gap-2">
            <p class="leading-loose">
              Dragi ljubitelji kulture, umetnosti in ustvarjanja! V mesecu
              juniju ste podprli prvi gledališki festival v rojstnem kraju
              Ignacija Borštnika. Vaša donacija nam je omogočila izvedbo
              predstav iz tekmovalnega programa Borštnikovega srečanja,
              organizacijo spremljevalnega programa, kreativnih delavnic,
              okrogle mize s priznanimi Borštnikovimi nagrajenci ter številne
              druge aktivnosti, ki so obogatile kulturno življenje Cerkelj in
              širše regije.
            </p>

            <p class="leading-loose">
              Odziv lokalnega prebivalstva in obiskovalcev festivala je bil
              izjemen, zato smo se odločili, da z ohranjanjem kulturne dediščine
              nadaljujemo skozi vse leto do naslednjega Borštnikovanja.
            </p>
            <p class="leading-loose">
              Po festivalu na Borštnikovi domačiji vsak mesec organiziramo
              dogodke z različnimi vsebinami.
            </p>
          </div>

          <div class="flex w-full flex-col gap-2">
            <p class="leading-loose">
              Za financiranje programa, ki ga ustvarjamo v nadaljevanju skozi
              vse leto zbiramo prispevke. Ideja zbiranja donacij in sponzorstev
              je v tem, da so dogodki za obiskovalce brezplačni in da na ta
              način omogočimo kulturno dogajanje in razvedrilo dostopno vsem in
              ne samo privilegiranim skupinam.
            </p>

            <p class="leading-loose">
              Vaša podpora je neprecenljiva in prav vsak prispevek bo pripomogel
              k bogatem in raznovrstnem programu ter ohranjanju slovenske
              kulturne dediščine. Pridružite se podpornikom in postanite del teh
              pomembnih zgodb.
            </p>
            <p class="leading-loose">
              Mojca Pačnik, idejni in organizacijski vodja »Borštnikovanja«.
            </p>
          </div>
        </div>

        <a
          class={buttonVariants({
            intent: "outline-black",
            size: "base",
            fullWidth: true,
          })}
          href="https://donate.stripe.com/eVaeXQ97O3g2cHC5kk?locale=sl"
        >
          Donirajte
        </a>
      </div>
    </section>
  </main>
</Layout>
