---
import TeamMembers from "../components/common/TeamMembers";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const teamMembersRaw = await getCollection("teamMembers");

const teamMembers = teamMembersRaw
  .filter((teamMember) => teamMember.data.highlighted)
  .sort((a, b) => a.data.order - b.data.order);
---

<Layout title="Kdo smo">
  <section class="py-12 lg:py-32">
    <div class="mx-auto w-11/12 max-w-screen-xl">
      <div class="flex flex-col gap-6">
        <h1 class="font-tan-pearl text-5xl uppercase lg:text-7xl">Kdo smo</h1>

        <div class="flex flex-col gap-6 lg:flex-row lg:gap-12">
          <p class="w-full">
            Dobrodošli v naši raznoliki ponudbi delavnic! Pridružite se nam in
            odkrijte svet ustvarjalnosti ter pridobite nove veščine in izkušnje.
            Naše delavnice so namenjene vsem, ki želite razvijati svojo
            kreativnost, se naučiti nekaj novega ali preprosto uživati v
            ustvarjanju. Ne glede na to, ali vas zanima gledališče, kreativno
            izražanje ali likovno ustvarjanje, imamo za vas pestro izbiro
            delavnic, ki jih vodijo izkušeni mentorji.
          </p>
          <p class="w-full">
            V prijetnem in spodbudnem okolju se boste naučili novih tehnik,
            pridobili nove perspektive ter se sprostili ob ustvarjanju.
            Pridružite se nam na naših delavnicah in pustite svoji
            ustvarjalnosti, da zaživi!
          </p>
        </div>
      </div>

      <TeamMembers teamMembers={teamMembers} />
    </div>
  </section>
</Layout>
