---
import Layout from "../layouts/Layout.astro";
---

<Layout title="O festivalu" description="">
  <main class="flex flex-col gap-14 pt-16 lg:pt-32">
    <section class="mx-auto w-11/12 max-w-screen-xl">
      <div class="flex flex-col gap-6">
        <h1
          class="font-tan-pearl text-5xl uppercase leading-normal lg:text-7xl"
        >
          O festivalu
        </h1>

        <div class="flex flex-col gap-6 lg:flex-row lg:gap-12">
          <p class="w-full leading-loose">
           Neodvisni gledališki festival "Borštnikovanje" bo letos zaživel v svoji prvi ediciji, naš cilj pa je, da bi ustvarili kulturni dogodek, ki se bo tradicionalno organiziral vsako leto. 
           Odločitev za samostojno organizacijo festivala je dozorela v marcu 2023, ideja za organizacijo kulturnega dogajanja v Cerkljah na Gorenjskem, pa je začela tleti že decembra 2022,
           ko je Mojca Pačnik pripravljala turistični program za ogled največjih kulturnih znamenitosti v Cerkljah na Gorenjskem in smo si na turističnem izletu po Cerkljah
           ogledali 200 let staro rojstno hišo Ignacija Borštnika in spoznali njegovo bogato dediščino. 
           Zavedli smo se potenciala in pomembnosti ohranjanja kulturne dediščine in po svojih najboljših močeh smo v njegovem rojstnem kraju želeli obuditi spomin
           na utemeljitelja slovenskega sodobnega gledališča. S festivalom Borštnikovanje bi želeli pokazati, in dokazati, da lahko velike ideje nastanejo
           in se realizirajo s pomočjo kreativnih ljudi tudi v manjših lokalnih skupnostih izven večjih kulturnih središč.
          </p>
          <p class="w-full leading-loose">
            V Cerklje na Gorenjskem smo želeli pripeljati kakovostne predstave, ki so kvaliteto dokazale tudi z uvrstitvijo v tekmovalni program najvidnejših slovenskih festivalov, 
           kot sta "Borštnikovo srečanje" in "Teden slovenske drame". Hkrati pa festival podpira avtorske projekte in nadarjene ustvarjalce. 
           Celoten program je ves čas nastajal z mislijo na specifično okolje Cerkelj na Gorenjskem, zato je pomemben gradnik festivala tudi kulturni turizem,
           ki bo rojstni kraj Ignacija Borštnika v novi luči predstavil tako lokalni skupnosti kot obiskovalcem iz širše regije. 
           Ob tem smo se povezali tudi z lokalnimi gostinskimi ponudniki, ki so posebej za čas festivala pripravili Borštnikovo kulinarično ponudbo, da boste festival lahko doživeli z vsemi čuti. Vabimo vas
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
