---
import Programme from "../components/common/Programme";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const events = await getCollection("events");
---

<Layout title="Program">
  <section class="py-12 lg:py-32">
    <div class="mx-auto w-11/12 max-w-screen-xl">
      <div class="flex flex-col gap-6">
        <h1 class="font-tan-pearl text-5xl uppercase lg:text-7xl">Program</h1>

        <div class="flex flex-col gap-6 lg:flex-row lg:gap-12">
          <p class="w-full">
            Na festivalu »Borštnikovanje« vas čaka bogat in raznolik program.
            Osrednji program festivala sestavljata večerni predstavi in
            zaključni koncert, dnevni spremljevalni program pa se razteza na
            področje kulturnega turizma in gledališke ter likovne pedagogike
            --med drugim vključuje voden ogled po kulturni dediščini Cerkelj,
            ogled Borštnikove hiše, kovačije ter možnost izdelave svojega
            Borštnikovega kovanca, gledališke in kreativne delavnice, slikarsko
            kolonijo z zaključno razstavo ter pogovor z Borštnikovimi
            nagrajenci.
          </p>
          <p class="w-full">
            Vstopnice za dogodke so že na volju na spletnem mestu Olaii ter
            prodajnih mestih OMW ter Trafika 3dva. Pohitite z nakupom in se
            pridružite živahnemu festivalskemu vzdušju. Če želite festival
            dodatno podpreti, lahko kupite Borštnikove vstopnice oziroma
            donirate željeno vsoto v zavihku donacije.
          </p>
        </div>
      </div>
    </div>
  </section>

  <Programme events={events} client:load />
</Layout>
