---
import Programme from "../components/common/Programme";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const events = await getCollection("events");
---

<Layout title="Program">
  <section class="py-12 lg:py-32">
    <div class="mx-auto w-11/12 max-w-screen-xl">
      <div class="flex flex-col gap-6">
        <h1 class="font-tan-pearl text-5xl uppercase lg:text-7xl">Program</h1>

        <div class="flex flex-col gap-6 lg:flex-row lg:gap-12">
          <p class="w-full">
            Na festivalu »Borštnikovanje« vas čaka bogat in raznolik program.
            Osrednji program festivala sta večerni predstavi in zaključni
            koncert, dnevni spremljevalni program pa se razteza tudi na področje
            kulturnega turizma in gledališke ter likovne pedagogike. Med drugim
            vključuje voden ogled po kulturni dediščini Cerkelj, ogled
            Borštnikove hiše, kovačije ter možnost izdelave svojega
            Borštnikovega kovanca, gledališke in kreativne delavnice, likovno
            kolonijo z zaključno razstavo ter pogovorom z Borštnikovimi
            nagrajenci.
          </p>
          <p class="w-full">
            Vstopnice za gledališke predstave so na voljo, prav tako pa lahko
            podarite darilni bon za karte, delavnice, Borštnikovo pojedino ali
            Borštnikov napitek. Obiskovalcem je na voljo tudi možnost donacij in
            plačila kart za druge, ter celodnevno počitniško varstvo in
            kreativne delavnice za otroke.
          </p>
        </div>
      </div>
    </div>
  </section>

  <Programme events={events} client:visible />
</Layout>
