---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Design">
  <h1>
    <h1 class="font-tan-pearl text-5xl">Tan Pearl</h1>
    <h1 class="font-inter text-5xl">Inter</h1>
  </h1>
</Layout>
