---
import Programme from "../components/common/Programme";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Borštnik po Borštniku">
  <main class="mx-auto w-11/12 max-w-screen-xl py-44">
    <h1 class="text-primary font-tan-pearl text-4xl 2xl:text-9xl">Borštnikovanje</h1>
  </main>

  <Programme />
</Layout>
