---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="font-tan-pearl text-5xl">Hello World!</h1>
    <h1 class="font-inter text-5xl">Hello World!</h1>
  </main>
</Layout>
