---
import ExperienceCerklje from "../components/common/ExperienceCerklje";
import FestivalDescription from "../components/common/FestivalDescription.astro";
import InterestedIn from "../components/common/InterestedIn.astro";
import Manuals from "../components/common/Manuals.astro";
import OurTeam from "../components/common/OurTeam.astro";
import Programme from "../components/common/Programme";
import Sponsors from "../components/common/Sponsors.astro";
import Tickets from "../components/common/Tickets.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Borštnik po Borštniku">
  <main class="bg-primary-50 py-44">
    <div class="mx-auto w-11/12 max-w-screen-xl">
      <h1 class="font-tan-pearl text-4xl text-primary-500 2xl:text-9xl">
        Borštnikovanje
      </h1>
    </div>
  </main>

  <FestivalDescription />
  <InterestedIn />
  <Programme client:visible />
  <Tickets />
  <OurTeam />
  <ExperienceCerklje client:visible />
  <Sponsors />
  <Manuals />
</Layout>
