---
import "../styles/globals.css";
import Fonts from "../components/helpers/Fonts.astro";
import Header from "../components/common/header/Header";
import Footer from "../components/common/footer/Footer.astro";
import Favicon from "../components/helpers/Favicon.astro";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="sl" class="font-inter">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Fonts />
    <Favicon />
    <SEO
      titleDefault="Festival Borštnikovanje"
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "image/jpeg",
          image: "/photos/invitations/invitation.jpg",
        },
      }}
    />
  </head>
  <body class="flex min-h-screen flex-col bg-grain">
    <Header client:load />
    <slot />
    <Footer />
  </body>
</html>
