<section class="py-20">
  <div class="mx-auto flex w-11/12 max-w-screen-xl flex-col gap-10">
    <p class="font-tan-pearl text-5xl leading-relaxed">
      Borštnik po Borštniku - dodatek največjega slovenskega gledališkega
      festivala »Borštnikovo srečanje«
    </p>

    <div class="flex justify-end">
      <div class="flex w-2/3 items-start gap-4">
        <div class="w-full">
          Seveda! Ste pripravljeni na tri dni nepozabne gledališke zabave v
          rojstnem kraju enega največjih slovenskih dramatikov, Ignacija
          Borštnika? Pridružite se nam na Festivalu »Borštnik po Borštniku«, ki
          bo potekal od 21. do 23. junija v idiličnem okolju Cerklj na
          Gorenjskem.
        </div>
        <div class="w-full">
          Odkrijte izjemne predstave, preizkusite se na gledaliških delavnicah,
          pridružite se zabavnim okroglim mizam ter odkrijte zakaj se
          Borštnikovo ime še vedno uporablja kot sinonim za vrhunsko slovensko
          gledališko umetnost. In ne pozabite, čaka vas tudi »Borštnikova
          pojedina« ter osvežujoči »Borštnikov napitek«. Vidimo se na Festivalu
          »Borštnik po Borštniku«!
        </div>
      </div>
    </div>
  </div>
</section>
