---
import { Image } from "@astrojs/image/components";
import ButtonLink from "../ui/ButtonLink";
---

<section class="bg-neutral-100 py-20">
  <div class="mx-auto flex w-11/12 max-w-screen-xl gap-24">
    <div class="flex w-1/3 flex-col items-center justify-start gap-3">
      <Image
        src="/photos/landing-page/delavnice.svg"
        width={150}
        height={150}
        alt=""
        format="svg"
        fetchpriority="high"
      />

      <p class="text-xl font-bold text-primary-500">Delavnice</p>

      <p class="text-center">
        Gledališke, kreativne in likovne delavnice za vse ljubitelje gledališča,
        ustvarjalnih duš in umetniških navdušencev.
      </p>

      <ButtonLink href="/">Zanima me več</ButtonLink>
    </div>

    <div class="flex w-1/3 flex-col items-center justify-start gap-3">
      <Image
        src="/photos/landing-page/okrogla-miza.svg"
        width={150}
        height={150}
        alt=""
        format="svg"
        fetchpriority="high"
      />
      <p class="text-xl font-bold text-primary-500">Okrogla miza</p>

      <p class="text-center">
        "Klepet ob kavi" z Borštnikovimi nagrajenci - spoznajte njihove največje
        izzive in prelomne trenutke v karieri.
      </p>

      <ButtonLink href="/">Zanima me več</ButtonLink>
    </div>

    <div
      class="flex w-1/3 flex-col items-center justify-start gap-3 text-center"
    >
      <Image
        src="/photos/landing-page/novinarska-konferenca.svg"
        width={150}
        height={150}
        alt=""
        format="svg"
        fetchpriority="high"
      />
      <p class="text-xl font-bold text-primary-500">Novinarska konferenca</p>

      <p class="text-center">
        Izvedite najnovejše novice o naših dogodkih, predstavah in delavnicah
        ter postavite vprašanja.
      </p>

      <ButtonLink href="/">Zanima me več</ButtonLink>
    </div>
  </div>
</section>
