---
import ButtonLink from "../ui/ButtonLink";
---

<section class="bg-primary-500 py-20">
  <div
    class="mx-auto flex w-11/12 max-w-screen-xl flex-col items-center justify-center gap-6 bg-primary-50 p-10 text-center"
  >
    <div class="flex flex-col gap-2">
      <p class="text-3xl font-bold text-primary-500">Priročniki</p>

      <p class="text-primary-950">
        Pridružite se nam in razširite svoje znanje o gledališču s priročniki
        "Ali veš?". Odkrijte osnove gledališča, spoznajte življenje in delo
        legendarnega Ignacija Borštnika ter se naučite, kako se pripraviti na
        javno nastopanje. Preizkusite svoje znanje z zabavnim kvizom in
        postanite pravi poznavalec gledališča. Prenesite si priročnike zdaj in
        začnite svojo gledališko avanturo!
      </p>
    </div>

    <div class="flex items-center gap-6">
      <ButtonLink href="/">Ali veš?</ButtonLink>
      <ButtonLink href="/">O Borštniku</ButtonLink>
    </div>
  </div>
</section>
