<section class="bg-primary-50 py-20">
  <div class="mx-auto flex w-11/12 max-w-screen-xl flex-col gap-10">
    <p class="font-tan-pearl text-5xl leading-relaxed text-primary-500">
      Naša ekipa
    </p>

    <div class="flex justify-end">
      <div class="flex w-2/3 items-start gap-4">
        <div class="w-full">
          Naša ekipa je sestavljena iz strastnih in predanih ljubiteljev
          gledališča, umetnosti in kulture. Skupaj si prizadevamo, da bi
          ustvarili nepozabno izkušnjo za obiskovalce našega festivala in da bi
          hkrati ohranili dediščino Ignacija Borštnika.
        </div>
        <div class="w-full">
          Svoje raznolike talente in veščine združujemo v timskem delu, da bi
          poskrbeli za vsak detajl festivala »Borštnik po Borštniku« in da bi
          ustvarili izjemen dogodek, ki ga ne boste pozabili.
        </div>
      </div>
    </div>
  </div>
</section>
