---
import { Image } from "@astrojs/image/components";
---

<section class="py-20">
  <div class="mx-auto flex w-11/12 max-w-screen-xl flex-col gap-10">
    <p class="font-tan-pearl text-5xl">Zagotovite si svojo vstopnico</p>

    <div class="flex items-center gap-10">
      <div class="flex w-4/12 flex-col gap-4">
        <p>
          Želite preizkusiti svojo kreativnost in se pridružiti našim
          gledališkim delavnicam? Ne odlašajte in si zagotovite svoje mesto na
          želeni delavnici, saj so mesta omejena! Izbirate lahko med VIP
          kartami, sponzorskimi kartami in kartami za gledališke delavnice.
        </p>

        <p>
          Vsako karto je možno kupiti tudi kot darilni bon, ki je popolno darilo
          za vaše ljubitelje umetnosti, ki jih želite razveseliti s karto za
          predstavo, delavnico, "Borštnikovo pojedino" ali "Borštnikov napitek".
          Vstopnico lahko kupite tudi za nekoga drugega, ki si je ne mora
          zagotoviti. Doniraj in razveseli!
        </p>
      </div>

      <div class="w-8/12">
        <Image
          src="/photos/landing-page/tickets.svg"
          width={1200}
          height={500}
          format="svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
