---
import { Image } from "@astrojs/image/components";
import { buttonVariants } from "../ui/Button";
---

<section class="bg-hero bg-cover bg-no-repeat py-12 lg:py-32">
  <div class="mx-auto w-11/12 max-w-screen-xl">
    <!-- DESKTOP SECTION -->
    <div class="hidden lg:block">
      <div class="flex w-full justify-center text-center">
        <h1 class="font-tan-pearl text-4xl lg:text-8xl xl:text-9xl">
          Borštnikovanje
        </h1>
      </div>

      <div
        class="mx-auto flex w-11/12 max-w-4xl flex-col items-center justify-center lg:-mt-20"
      >
        <div class="flex items-center gap-8 text-xl">
          <p class="uppercase">Ignacij</p>

          <Image
            width={400}
            height={500}
            src="/photos/landing-page/ignacij-borstnik-desktop.png"
            alt=""
            format="webp"
            fetchpriority={"high"}
          />

          <p class="uppercase">Borštnik</p>
        </div>

        <p class="mt-6 text-center text-lg">
          Pridružite se nam na festivalu »Borštnikovanje« od 21. do 23. junija v
          idiličnih Cerkljah na Gorenjskem, rojstnem kraju utemeljitelja
          slovenskega poklicnega gledališča Ignacija Borštnika Uživajte v
          izjemnih predstavah, ustvarjalnih delavnicah, pogovru z Borštnikovimi
          nagrajenci ter spoznajte, zakaj je Borštnik sinonim za vrhunsko
          slovensko gledališče.
        </p>
      </div>
    </div>
    <!-- MOBILE & TABLET SECTION -->
    <div class="flex flex-col items-center lg:hidden">
      <Image
        width={400}
        height={500}
        src="/photos/landing-page/ignacij-borstnik-desktop.png"
        alt=""
        format="webp"
        fetchpriority={"high"}
        class="opacity-70"
      />

      <div
        class="z-10 -mt-8 mb-6 flex flex-col items-center font-tan-pearl text-5xl"
      >
        <p class="">Borštnik</p>
        <p class="self-end">ovanje</p>
      </div>

      <p class="mb-6 text-center">
        Pridružite se nam na festivalu »Borštnikovanje« od 21. do 23. junija v
        idiličnih Cerkljah na Gorenjskem, rojstnem kraju utemeljitelja
        slovenskega poklicnega gledališča Ignacija Borštnika Uživajte v izjemnih
        predstavah, ustvarjalnih delavnicah, pogovru z Borštnikovimi nagrajenci
        ter spoznajte, zakaj je Borštnik sinonim za vrhunsko slovensko
        gledališče.
      </p>

      <a
        href="/program"
        class={buttonVariants({ intent: "outline-black", size: "base" })}
        >Zanima me več</a
      >
    </div>
  </div>
</section>
